/*
    div

    选择器格式
    选择器名称{
        属性名 : 属性值;
        .....
    }

    基本选择器（三种） 优先级 : style > id选择器 > class选择器 > 标签选择器
        --1、标签选择器
            div{
            background-color: blueviolet;
            color: white;
            }

            p{
                background-color: darkblue;
                color: red;
            }
        --2、class选择器
            div.test01{
                background-color: blueviolet;
                color: white;
            }
             .test03{
                background-color: darkblue;
                color: red;
            }
        --3、id选择器
            div#divDefault{
                background: bisque;
            }
            #divDefault{
                background: bisque;
            }
    扩展选择器
        --1、关联选择器
              div p{
                background-color: cadetblue;
                color: darkmagenta;
            }
        --2、组合选择器 把不同的标签设置成相同的样式
            div,p{
                background-color: red;
                background: bisque;
            }
        --3、伪元素选择器
            css里面提供了一些定义好的选择器
            --参考css文档
            **如超链接的状态
                --
*/

/*标签选择器*/
div {
    background-color: burlywood;
    color: darkmagenta;
}
div#divDefault{
    background: bisque;
}
/*关联选择器*/
div p{
    background-color: cadetblue;
    color: darkmagenta;
}

p{
   background-color: cadetblue;
    color: black;
}
/*组合选择器
    把不同的标签设置成相同的样式*/

/*原始状态*/
a:link{
    color: red
}    /* unvisited links */
/*点击之后*/
a:visited {
    color: blue
}   /* visited links   */
/*悬停*/
a:hover   {
    color: cadetblue;
} /* user hovers     */
/*点击*/
a:active  {
    color: lime
}   /* active links    */

